input {
   font: inherit;
   box-sizing: border-box;
   width: 100%;
   border: none;
   padding-left: var(--space-normal);
    background-color: transparent;
}

input:focus {
   outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input[type='checkbox'] {
   width: auto;
}

input[type='color'] {
    padding-left: 0;
    height: var(--line-height-big);
    line-height: var(--line-height-big);
}

input,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-clear-button {
   height: var(--line-height);
   line-height: var(--line-height);
}
