input {
    font: inherit;
    height: var(--line-height-large);
    line-height: var(--line-height);
    box-sizing : border-box;
    width: 100%;
    padding-left: var(--min-space);
    background-color: var(--app-color-background);
    color: var(--app-color-on-background);
}

input[type="checkbox"] {
    width: auto;
}
