input {
    font: inherit;
    height: var(--line-height-large);
    line-height: var(--line-height);
    box-sizing : border-box;
    width: 100%;
    padding-left: var(--min-padding);
}

input[type="checkbox"] {
    width: auto;
}
