  .head, .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .head, .header {
    color: var(--app-primary-color-contrast);
    background-color: var(--app-primary-background-color-contrast);
  }

  .row {
  }

  .row.odd {
    color: var(--app-primary-color-discreet);
    background-color: var(--app-primary-background-color-discreet);
  }

  .headColumn, .filterColumn, .column {
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    line-height: var(--line-height-big);
    height: var(--line-height-big);
  }

  .head:first-child, .row .column:first-child {
    padding-left: var(--min-padding);
  }

