[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: var(--icon-size);
  vertical-align: middle;

  height: var(--line-height);
  line-height: var(--line-height);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-save:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-share:before {
  content: "\e906";
}
.icon-brightness:before {
  content: "\e907";
}
.icon-contrast:before {
  content: "\e908";
}
.icon-greyscale .path1:before {
  content: "\e909";
  color: rgb(156, 156, 156);
}
.icon-greyscale .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icon-hue:before {
  content: "\e90a";
}
.icon-invert:before {
  content: "\e90b";
}
.icon-opacity:before {
  content: "\e90c";
}
.icon-rotate:before {
  content: "\e90d";
}
.icon-Saturation:before {
  content: "\e90e";
}
.icon-sepia .path1:before {
  content: "\e90f";
  color: rgb(180, 148, 123);
}
.icon-sepia .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icon-abstract1 .path1:before {
  content: "\e912";
  color: rgb(60, 124, 196);
}
.icon-abstract1 .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(148, 68, 148);
}
.icon-abstract1 .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(188, 100, 164);
}
.icon-abstract1 .path4:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(236, 132, 44);
}
.icon-abstract1 .path5:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(52, 148, 68);
}
.icon-abstract1 .path6:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(251, 163, 59);
}
.icon-abstract1 .path7:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(92, 187, 236);
}
.icon-abstract1 .path8:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(108, 195, 84);
}
.icon-abstract2 .path1:before {
  content: "\e910";
  color: rgb(188, 100, 172);
}
.icon-abstract2 .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(252, 132, 28);
}
.icon-abstract2 .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(252, 172, 28);
}
.icon-abstract2 .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(156, 60, 148);
}
.icon-abstract2 .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(108, 188, 84);
}
.icon-abstract2 .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(60, 148, 68);
}
.icon-abstract2 .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(52, 132, 203);
}
.icon-abstract2 .path8:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(92, 180, 228);
}
.icon-abstract3 .path1:before {
  content: "\e911";
  color: rgb(4, 96, 202);
}
.icon-abstract3 .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(4, 251, 173);
}
.icon-abstract3 .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(4, 171, 245);
}
.icon-abstract4 .path1:before {
  content: "\e913";
  color: rgb(5, 146, 145);
}
.icon-abstract4 .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(169, 36, 81);
}
.icon-abstract4 .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(4, 230, 187);
}
.icon-abstract5 .path1:before {
  content: "\e916";
  color: rgb(4, 170, 227);
}
.icon-abstract5 .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(12, 84, 156);
}
.icon-abstract5 .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(244, 4, 148);
}
.icon-abstract5 .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(236, 52, 35);
}
.icon-abstract5 .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(236, 147, 187);
}
.icon-abstract5 .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(12, 100, 59);
}
.icon-abstract5 .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(59, 179, 76);
}
.icon-abstract5 .path8:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(244, 124, 36);
}