@font-face {
  font-family: 'icomoon';
  src:  url('../font/icon/icomoon.eotpe30uz');
  src:  url('../font/icon/icomoon.eotpe30uz#iefix') format('embedded-opentype'),
  url('../font/icon/icomoon.ttfpe30uz') format('truetype'),
  url('../font/icon/icomoon.woffpe30uz') format('woff'),
  url('../font/icon/icomoon.svgpe30uz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}