//@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

@import "iconfont-load";
@import "fortawesome-load";

* {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-family: var(--font-family),var(--font-style);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    text-decoration: none;
    line-height: var(--line-height);
}
