@import "../css/border.css";

.box {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--app-color-background);
    color: var(--app-color-on-background);
    caret-color: var(--app-color-primary);
    height: var(--line-height-big);
    line-height: var(--line-height-big);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.label {
}
