@import '../css/visibility.css';

.labelContainer {
   position: relative;
   visibility: hidden;
}

.label {
   position: absolute;
   top: -10px;
   left: var(--space-medium);

   padding-left: var(--space-small);
   padding-right: var(--space-small);
}
.box {
   box-sizing: border-box;
   width: 100%;
   min-height: var(--line-height-big);
   line-height: var(--line-height-big);
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

input, select, textarea {
   font: inherit;
   box-sizing: border-box;
   width: 100%;
   border: none;
   padding-left: var(--space-normal);
   background-color: transparent;
   line-height: var(--line-height);
}

select[multiple] {
   margin-top: var(--line-height);
}

input:focus, select:focus, textarea:focus {
   outline: none;
}

input[type='checkbox'] {
   width: auto;
}

input[type='color'] {
   padding-left: 0;
   height: var(--line-height-big);
   line-height: var(--line-height-big);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-clear-button {
   height: var(--line-height);
   line-height: var(--line-height);
}


.labelContainer.showLabelText {
   position: relative;
   visibility: visible;
}

input.showLabelText:focus::placeholder {
   color: transparent;
}

.box.showBorder {
   border: 1px solid var(--app-color-border);
}

.box.showSelectedBorder {
   border-bottom: 3px solid var(--app-color-primary);
}