input,
select,
textarea {
   font: inherit;
   box-sizing: border-box;
   width: 100%;
   border: none;
   background-color: inherit;
   line-height: var(--line-height);
}

textarea {
   min-height: 150px;
}

select[multiple] {
   margin-top: var(--line-height);
   line-height: unset;
   height: auto;
}

input:-webkit-autofill {
   background-color: inherit !important;
}

input:focus,
select:focus,
textarea:focus {
   outline: none;
}

input[type='checkbox'] {
   width: auto;
}

input[type='color'] {
   padding-left: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-clear-button {
}
