@import '../css/visibility.css';

.labelContainer {
   position: relative;
   visibility: hidden;
}

.label {
   background-color: inherit;
   position: absolute;
   top: -10px;
   left: var(--space-medium);

   padding-left: var(--space-small);
   padding-right: var(--space-small);
}
.box {
   box-sizing: border-box;
   height: min-content;
   display: grid;
   grid-template-columns: auto 1fr auto auto;
   grid-template-rows: 1fr;
}

input,
select,
textarea {
   font: inherit;
   box-sizing: border-box;
   width: 100%;
   border: none;
   padding-left: var(--space-normal);
   background-color: inherit;
   line-height: var(--line-height-big);
   height: var(--line-height-big);
}

select[multiple] {
   margin-top: var(--line-height);
   line-height: unset;
   height: auto;
}



input:-webkit-autofill
{
   background-color: inherit !important;

}

input:focus,
select:focus,
textarea:focus {
   outline: none;
}

input[type='checkbox'] {
   width: auto;
}

input[type='color'] {
   padding-left: 0;
   height: var(--line-height-big);
   line-height: var(--line-height-big);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-clear-button {
   height: var(--line-height);
   line-height: var(--line-height);
}

.labelContainer.showLabelText {
   position: relative;
   visibility: visible;
}

input.showLabelText:focus::placeholder {
   color: transparent;
}

.box.showBorder {
   border: 1px solid var(--app-color-border);
}

.box.showSelectedBorder {
   border-bottom: 3px solid var(--app-color-primary);
}
