.navItem {
    line-height: var(--line-height-large);
    height: var(--line-height-large);
    cursor: pointer;
    background-color: var(--app-primary-color-discreet);
    color: var(--app-primary-color-contrast);
}

.navItem.selected, .navItem:hover, .navItem:active {
    filter: brightness(var(--app-hover-brightness));
}

.navitemIcon {
    text-align:center;
    vertical-align: middle;
    width: 50px;
    display: inline-block;
}

