@import "../../alignment";

.maxWidth {
    width: 100%;
}

button {
    cursor: pointer;
    background: var(--app-primary-background-color-contrast);
    color: var(--app-primary-color-contrast);
    border: none;
    border: 0.1rem solid  var(--app-primary-background-color-contrast);;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: inherit;

    padding: var(--min-padding) var(--medium-padding) var(--min-padding) var(--medium-padding);
}
button:hover {
    background-color: transparent;
    color: var(--app-primary-color);
    transition: color 100ms linear, background-color 100ms linear, border 100ms linear;
}

@media only screen and (max-width: 800px), only screen and (orientation: portrait) {
    button, .btn {
    width:100%;
    }



}