@import "../css/shadow.css";
.container {
    height: calc(100vh - var(--menubar-height));
    width: 100%;
    padding: 0;
    margin: 0;
}

#top {
    position: fixed;
    width: calc(100%);
    height: var(--menubar-height);
    right: 0;
    z-index: 10;
    background-color: var(--app-color-primary);
    color: var(--app-color-on-primary);
}

#top.menuClosed {
    width: 100%;
}

#left {
    height: calc(100% - var(--menubar-height));
    width: var(--menu-size);
    transition: left 0.5s linear;
    position: fixed;
    z-index: 1;
    top: var(--menubar-height);
    left: 0;
    overflow-x: hidden;
    background-color: var(--app-color-primary);
    color: var(--app-color-on-primary);
}

#left.menuClosed {
    left: calc(-1 * var(--menu-size));
    transition: left 0.5s linear;
}
#main {
    padding-top: var(--menubar-height);
    color: var(--app-color-on-background);
    background-color: var(--app-color-background);
    min-height: 100%;
    margin-left: var(--menu-size);
    transition: margin-left 0.5s linear;

}
#main.menuClosed {
    margin-left: 0;
    transition: margin-left 0.5s linear;
}
