import {html, TemplateResult} from "lit-element";
import {BasisTemplate} from "../index";

export abstract class PageAbstract extends BasisTemplate {

    getTopContent(): TemplateResult {
        return html`<component-menubar>
                        <component-spacer slot="leftComponents" clazz="mediumPaddingLeft"></component-spacer>
                        <component-icon slot="leftComponents" iconClazz="fas fa-bars" clickable="true"></component-icon>
                    </component-menubar>`;
    }

    getLeftComponent(): TemplateResult {
        return html`<component-navigation>
                        <component-navigation-link slot="navigationItems" iconClazz="" text="Introduction" href="#introduction"></component-navigation-link>
                        <component-navigation-link slot="navigationItems" iconClazz="" text="Get started" href="#getStarted"></component-navigation-link>
                        <component-navigation-section slot="navigationItems">
                            #foreach( $link in $links )
                                <component-navigation-link iconClazz="" text="${link.i18n}" href="${link.link}"></component-navigation-link>
                            #end
                        </component-navigation-section>
                    </component-navigation>`;
    }

}