:host, span {
   margin: 0;
   padding: 0;
   font-size: 0;
   letter-spacing: 0;
   line-height: 0;
}

img {
   box-sizing: border-box;
   height: auto;
   width: auto;
}

.clickable {
   cursor: pointer;
}

.zoomImageWrapped {
   overflow: hidden;
}
.zoomImageWrapped img:hover {
   transform: scale(1.1, 1.1);
   transition: transform 0.5s;
}

.imageWidthHundred {
   box-sizing: border-box;
}
.imageWidthHundred img {
   width: 100%;
}

.roundImage {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 75%;
   box-sizing: border-box;
}
.roundImage img {
   padding: 0.25em;
   border-radius: 50%;
   width: 100%;
}

.imageWithBorder img {
   box-sizing: border-box;
}
.imageWithBorder img {
   border: 0.1em solid var(--app-color-border);
   padding: 0.25em;
   width: 100%;
}

@media only screen and (max-width: 768px), only screen and (orientation: portrait) {
}
