.H1,
.H2,
.H3,
.H4,
.H5,
.H6,
.SUBTITLE1,
.SUBTITLE2,
.BODY1,
.BODY2,
.BUTTON,
.CAPTION,
.OVERLINE {
  clear: both;
  display: table;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust:100%;
}


.H1 {
    font-size: 4rem;
    letter-spacing: 0rem;
    line-height: 125%;
}

.H2 {
    font-size: 4rem;
    letter-spacing: 0rem;
    line-height: 125%;
}

.H3 {
    font-size: 4rem;
    letter-spacing: 0rem;
    line-height: 125%;
}

.H4 {
    font-size: 4rem;
    letter-spacing: 0rem;
    line-height: 125%;
}

.H5 {
    font-size: 4rem;
    letter-spacing: 0rem;
    line-height: 125%;
}

.H6 {
    font-size: 4rem;
    letter-spacing: 0rem;
    line-height: 125%;
}

.SUBTITLE1 {
}

.SUBTITLE2 {
}

.BODY1 {
}

.BODY2 {
}

.BUTTON {
}

.CAPTION {
}