.search-bar {
   box-sizing: border-box;
   width: 100%;
   height: var(--line-height-big);
   line-height: var(--line-height-big);
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

component-inputfield {
   flex-basis: 100%;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
   .search-bar {
      height: var(--menubar-height);
   }
}
