.tab, ::slotted(.tab) {
    cursor: pointer;
    line-height: var(--line-height-big);
    height: var(--line-height-big);
    background-color: var(--app-color-surface);
    color: var(--app-color-on-surface);
    padding-left: var(--max-space);
    padding-right: var(--max-space);
    float: left;
}

.selected, ::slotted(.selected) {
    background-color: var(--app-color-primary);
    color: var(--app-color-on-primary);
}