.accordion {
    border-bottom: 1px solid black;

}

.accordionHeader:hover {
}
.accordionHeader {
    line-height: var(--line-height-big);
    cursor: pointer;
}
component-typography {
    padding-left: var(--space-small);
}
component-icon {
    padding-right: var(--space-small);
}
.accordionContent.closed {
    display: none;
}
.accordionContent.open {
    display: initial;
}
