.accordionHeader:hover {
    filter: brightness(var(--app-hover-brightness));
}
.accordionHeader {
    color: var(--app-primary-color-contrast);
    background-color: var(--app-color-primary-contrast);
    line-height: var(--line-height-big);
    cursor: pointer;
}
component-text {
    padding-left: var(--medium-space);
}
component-icon {
    padding-right: var(--medium-space);
}
.accordionContent.closed {
    display: none;
}
.accordionContent.open {
    display: initial;
}
