.basicBorder {
    border: 1px solid var(--app-color-border);
    opacity: 0.7;
}

.basicBorderBottom {
    border-bottom: 1px solid var(--app-color-border);
}

.basicBorderTop {
    border-top: 1px solid var(--app-color-border);
}

.basicBorderLeft {
    border-left: 1px solid var(--app-color-border);
}

.basicBorderRight {
    border-right: 1px solid var(--app-color-border);
}