.surfaceColor, ::slotted(.surfaceColor) {
    color: var(--app-color-on-surface);
    background-color: var(--app-color-surface);
}
.secondaryColor, ::slotted(.secondaryColor) {
    color: var(--app-color-on-secondary);
    background-color: var(--app-color-secondary);
}
.primaryColor, ::slotted(.primaryColor) {
    color: var(--app-color-on-primary);
    background-color: var(--app-color-primary);
}