.spaceLittle,
::slotted(.spaceLittle) {
    box-sizing: border-box;
    padding: var(--space-little);
}

.spaceSmall,
::slotted(.spaceSmall) {
    box-sizing: border-box;
    padding: var(--space-small);
}

.spaceMedium,
::slotted(.spaceMedium) {
    box-sizing: border-box;
    padding: var(--space-medium);
}

.spaceBig,
::slotted(.spaceBig) {
    box-sizing: border-box;
    padding: var(--space-big);
}

.spaceMax,
::slotted(.spaceMax) {
    box-sizing: border-box;
    padding: var(--space-max);
}
