select {
  font: inherit;
  text-transform: none;
  box-sizing: border-box;
  background: transparent;
  //border: none;
  //border: 0.1rem solid var(--app-primary-background-color-contrast);
  height: var(--line-height-large);
  line-height: var(--line-height);
  padding-left: var(--min-padding);
  width: 100%;
}