@import '../css/border.css';
@import '../css/shadow.css';
.card, slot {
    overflow: hidden;
    display: block;
}

slot {
    display: flex;
    flex-direction: column;
}

card-primary, ::slotted(card-primary) {
    padding: var(--space-medium);
}