@import '../../iconfont';
@import '../../fortawesome-load';
@import '../../fortawesome';

:host{
  line-height: var(--line-height);
  height: var(--line-height);
}

.clickable {
  cursor: pointer;
}

.active {
  color: var(--app-primary-background-color-contrast);
}

.passiv {
  color: var(--app-primary-background-color-discreet);
}