.text {
}

* {
   text-align: justify;
}

.centerText {
    text-align: center;
}

.ellipsis {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   display: block;
}

.smallText {
   font-size: var(--font-size-small);
}

.bold {
   font-weight: var(--font-weight-bold);
}

.line-through {
   text-decoration: line-through;
}
