@import '../../../css/contrast.css';

.listItem, ::slotted(.listItem) {
    height: var(--toolbar-height);
    line-height: var(--toolbar-height);
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: var(--app-shadow-color);
}