  .head, .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .head, .header {
    color: var(--app-color-on-primary);
    background-color: var(--app-color-primary);
  }

  .row {
  }

  .row.odd {
    color: var(--app-color-on-surface);
    background-color: var(--app-color-surface);
  }

  .headColumn, .filterColumn, .column {
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    line-height: var(--line-height-big);
    height: var(--line-height-big);
  }

  .head:first-child, .row .column:first-child {
    padding-left: var(--space-little);
  }

  .compoundHeaders, ::slotted(.compoundHeaders) {
    width: 100%;
  }
