@import '../scss/iconfont';
@import '../scss/fortawesome-load';
@import '../scss/fortawesome';

@import './gmi/material-icons.css';

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size-space);
  height: var(--icon-size-space);

}

.clickable {
  cursor: pointer;
}

.active {
  color: var(--app-color-primary-contrast);
}

.passiv {
  color: var(--app-color-primary-discreet);
}

.error {
  color: var(--app-color-error);
}

.warning {
  color: var(--app-error-warning);
}

.success {
  color: var(--app-color-success);
}