.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--icon-size);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size-space);
  height: var(--icon-size-space);

}

.clickable {
  cursor: pointer;
}

.active {
  color: var(--app-color-secondary);
}

.passiv {
  color: var(--app-color-surface);
}

.error {
  color: var(--app-color-error);
}

.warning {
  color: var(--app-error-warning);
}

.success {
  color: var(--app-color-success);
}