.formElement, ::slotted(.formElement) {
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);
    box-sizing: border-box;
    display: block;
}

form {
    width: 100%;
    box-sizing: border-box;
}

.errorMessages {
    color: var(--app-color-error);
}

@media only screen and (orientation: portrait) {
    form {
    }
}
