@import "../css/alignment.css";

.maxWidth {
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    border: 0.1rem solid var(--app-color-surface);
    background-color: var(--app-color-surface);
    color: var(--app-color-on-surface);
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: inherit;
    padding: var(--min-space) var(--medium-space) var(--min-space) var(--medium-space);
}
button:hover, .selected {
    background: var(--app-color-primary);
    color: var(--app-color-on-primary);
    transition: color 100ms linear, background-color 100ms linear, border 100ms linear;
}

@media only screen and (max-width: 800px), only screen and (orientation: portrait) {
    button, .btn {
    width:100%;
    }



}