button {
    cursor: pointer;
    border: none;
    background-color: var(--app-color-primary);
    color: var(--app-color-on-primary);
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: inherit;
    padding: var(--space-medium) var(--space-normal);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

button.disabled {
    opacity: 0.5;
}

@media only screen and (orientation: portrait) {
    button, .btn {
        width:100%;
    }
}