@import "../css/alignment.css";

.maxWidth {
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    border: 0.1rem solid var(--app-color-surface);
    background-color: var(--app-color-surface);
    color: var(--app-color-on-surface);
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: inherit;
    padding: var(--space-little) var(--space-small) var(--space-little) var(--space-small);
}

@media only screen and (max-width: 800px), only screen and (orientation: portrait) {
    button, .btn {
    width:100%;
    }
}