select {
  font: inherit;
  text-transform: none;
  box-sizing: border-box;
  background-color: var(--app-color-background);
  color: var(--app-color-on-background);
  //border: none;
  //border: 0.1rem solid var(--app-color-primary-contrast);
  height: var(--line-height-large);
  line-height: var(--line-height);
  padding-left: var(--min-space);
  width: 100%;
}