.toolbar {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   box-sizing: border-box;
   overflow: auto;
}

.horizontalAlignment {
   flex-direction: row;
}

.verticalAlignment {
   flex-direction: column;
}
