.container {
    height: calc(100vh - var(--menubar-height));
    width: 100%;
    padding: 0;
    margin: 0;
}
#header {
    position: fixed;
    width: calc(100%);
    height: var(--menubar-height);
    right: 0;
    color: var(--app-header-color);
    background-color: var(--app-header-background-color);
}
#header.menuClosed {
    width: 100%;
    transition: width 0.5s linear;
}
#menu {
    height: calc(100% - var(--menubar-height));
    width: var(--menu-size);
    transition: left 0.5s linear;
    position: fixed;
    z-index: 1;
    top: var(--menubar-height);
    left: 0;
    overflow-x: hidden;
    color: var(--app-menu-color);
    background-color: var(--app-menu-background-color);
}
#menu.menuClosed {
    left: calc(-1 * var(--menu-size));
    transition: left 0.5s linear;
}
#main {
    padding-top: var(--menubar-height);
    color: var(--app-primary-color);
    background-color: var(--app-primary-background-color);
    margin-left: var(--menu-size);
    transition: margin-left 0.5s linear;
    min-height: 100%;
}
#main.menuClosed {
    margin-left: 0;
    transition: margin-left 0.5s linear;
}
