.navItem {
    cursor: pointer;
    background-color: transparent;
}

::slotted(.navItem.selected),.navItem.selected, ::slotted(.navItem.hover), .navItem:hover, ::slotted(.navItem.active), .navItem:active {
    background-color: var(--app-color-secondary);
    color: var(--app-color-on-secondary);
}