@import '../css/shadow.css';

.tile,::slotted(.tile) {
   box-sizing: border-box;
   background-color: var(--app-color-surface);
   color: var(--app-color-on-surface);
   justify-content: center;
   align-items: center;
   overflow: auto;
}
