@font-face {
  font-family: 'icomoon';
  src:  url('../font/icon/icomoon.eot?pe30uz');
  src:  url('../font/icon/icomoon.eot?pe30uz#iefix') format('embedded-opentype'),
  url('../font/icon/icomoon.ttf?pe30uz') format('truetype'),
  url('../font/icon/icomoon.woff?pe30uz') format('woff'),
  url('../font/icon/icomoon.svg?pe30uz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}