:host,
::slotted(:host) {
   line-height: 0;
   font-size: 0;
   letter-spacing: 0;
}

.spacer,
::slotted(.spacer) {
   display: block;
}

.horizontalAlignment,
::slotted(.horizontalAlignment) {
   display: inline-block;
   padding-top: 0;
   padding-bottom: 0;
}

.verticalAlignment,
::slotted(.verticalAlignment) {
   padding-left: 0;
   padding-right: 0;
}

.spaceLittle,
::slotted(.spaceLittle) {
   box-sizing: border-box;
   padding: var(--space-little);
}

.spaceSmall,
::slotted(.spaceSmall) {
   box-sizing: border-box;
   padding: var(--space-small);
}

.spaceMedium,
::slotted(.spaceMedium) {
   box-sizing: border-box;
   padding: var(--space-medium);
}

.spaceBig,
::slotted(.spaceBig) {
   box-sizing: border-box;
   padding: var(--space-big);
}

.spaceMax,
::slotted(.spaceMax) {
   box-sizing: border-box;
   padding: var(--space-max);
}
