@import '../css/color.css';

*,
::slotted(*) {
   box-sizing: border-box;
}

.FLEX_CONTAINER,
::slotted(.FLEX_CONTAINER) {
   margin: auto;
   display: flex;
   box-sizing: border-box;
}

.CONTAINER_MIN_CONTENT,
::slotted(.CONTAINER_MIN_CONTENT) {
   width: min-content;
   height: min-content;
}

.CONTAINER_100,
::slotted(.CONTAINER_100) {
   width: 100%;
}

.CONTAINER_75,
::slotted(.CONTAINER_75) {
   width: 75%;
}

.CONTAINER_50,
::slotted(.CONTAINER_50) {
   width: 50%;
}

.CONTAINER_25,
::slotted(.CONTAINER_25) {
   width: 25%;
}

.FLEX_ITEM,
::slotted(.FLEX_ITEM) {
   box-sizing: border-box;
   overflow: hidden;
}

.PADDING_LITTLE,
::slotted(.PADDING_LITTLE) {
   padding-right: var(--space-little);
   padding-bottom: var(--space-little);
}

.PADDING_SMALL,
::slotted(.PADDING_SMALL) {
   padding-right: var(--space-small);
   padding-bottom: var(--space-small);
}

.PADDING_MEDIUM,
::slotted(.PADDING_MEDIUM) {
   padding-right: var(--space-medium);
   padding-bottom: var(--space-medium);
}

.PADDING_BIG,
::slotted(.PADDING_BIG) {
   padding-right: var(--space-big);
   padding-bottom: var(--space-big);
}

.PADDING_MAX,
::slotted(.PADDING_MAX) {
   padding-right: var(--space-max);
   padding-bottom: var(--space-max);
}

.KEYLINE_ALIGNMENT_HORIZONTAL,
::slotted(.KEYLINE_ALIGNMENT_HORIZONTAL) {
   padding-right: 0;
}

.KEYLINE_ALIGNMENT_VERTICAL,
::slotted(.KEYLINE_ALIGNMENT_VERTICAL) {
   padding-bottom: 0;
}

.PADDING_ALIGNMENT_BOTH,
::slotted(.PADDING_ALIGNMENT_BOTH) {
   padding: 0;
}

@media only screen and (max-width: 1280px) and (orientation: portrait) {
   .FLEX_CONTAINER.TABLET_MAX_WIDTH,
   ::slotted(.FLEX_CONTAINER.TABLET_MAX_WIDTH) {
      width: 100%;
   }

   ::slotted(.FLEX_ITEM.TABLET_MAX_WIDTH),
   .FLEX_ITEM.TABLET_MAX_WIDTH {
      flex-basis: 100% !important;
      max-width: 100% !important;
   }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {

   .FLEX_CONTAINER.SMARTPHONE_HORIZONTAL_PADDING {
      padding-left: var(--space-normal);
      padding-right: var(--space-normal);
   }

   .FLEX_CONTAINER.SMARTPHONE_VERTICAL_PADDING {
      padding-top: var(--space-normal);
      padding-bottom: var(--space-normal);
   }

   .FLEX_CONTAINER.SMARTPHONE_MAX_WIDTH,
   ::slotted(.FLEX_CONTAINER.SMARTPHONE_MAX_WIDTH) {
      width: 100%;
   }

   ::slotted(.FLEX_ITEM.SMARTPHONE_MAX_WIDTH),
   .FLEX_ITEM.SMARTPHONE_MAX_WIDTH {
      flex-basis: 100% !important;
      max-width: 100% !important;
   }
}
