@import '../../scss/iconfont';
@import '../../scss/fortawesome-load';
@import '../../scss/fortawesome';

:host{
  line-height: var(--line-height);
  height: var(--line-height);
}

.clickable {
  cursor: pointer;
}

.active {
  color: var(--app-primary-background-color-contrast);
}

.passiv {
  color: var(--app-primary-background-color-discreet);
}

.error {
  color: var(--app-error-color);
}

.warning {
  color: var(--app-warning-color);
}

.success {
  color: var(--app-success-color);
}