:host{
  line-height: var(--line-height);
  height: var(--line-height);
}

a {
  text-decoration: underline;
  color: inherit;
  background-color: inherit;
  line-height: var(--line-height);
  height: var(--line-height);
}

